Repository team-MUMENT/MUMENT-AOS, pull requests merged in 2023-02, with the labels that each got.

#175 Feat/171 mypage api
  app/src/main/java/com/mument_android/app/di/ControllerModule.kt
  app/src/main/java/com/mument_android/app/di/DataSourceModule.kt
  app/src/main/java/com/mument_android/app/di/MapperModule.kt
  app/src/main/java/com/mument_android/app/di/NetworkModule.kt
  app/src/main/java/com/mument_android/app/di/RepositoryModule.kt
  app/src/main/java/com/mument_android/app/di/UseCaseModule.kt
  data/src/main/java/com/mument_android/data/controller/DeleteBlockUserController.kt
  data/src/main/java/com/mument_android/data/controller/DeleteBlockUserControllerImpl.kt
  data/src/main/java/com/mument_android/data/datasource/mypage/BlockUserListDataSource.kt
  data/src/main/java/com/mument_android/data/datasource/mypage/BlockUserListDataSourceImpl.kt
  data/src/main/java/com/mument_android/data/datasource/mypage/NoticeDetailDataSource.kt
  data/src/main/java/com/mument_android/data/datasource/mypage/NoticeDetailDataSourceImpl.kt
  data/src/main/java/com/mument_android/data/datasource/mypage/NoticeListDataSource.kt
  data/src/main/java/com/mument_android/data/datasource/mypage/NoticeListDataSourceImpl.kt
  data/src/main/java/com/mument_android/data/dto/mypage/BlockUserDto.kt
  data/src/main/java/com/mument_android/data/dto/mypage/NoticeListDto.kt
  data/src/main/java/com/mument_android/data/mapper/mypage/BlockUserListMapper.kt
  data/src/main/java/com/mument_android/data/mapper/mypage/NoticeListMapper.kt
  data/src/main/java/com/mument_android/data/network/mypage/MyPageApiService.kt
  data/src/main/java/com/mument_android/data/repository/mypage/BlockUserListRepositoryImpl.kt
  data/src/main/java/com/mument_android/data/repository/mypage/NoticeListRepositoryImpl.kt
  domain/src/main/java/com/mument_android/domain/entity/mypage/BlockUserEntity.kt
  domain/src/main/java/com/mument_android/domain/entity/mypage/NoticeListEntity.kt
  domain/src/main/java/com/mument_android/domain/repository/mypage/BlockUserListRepository.kt
  domain/src/main/java/com/mument_android/domain/repository/mypage/NoticeListRepository.kt
  domain/src/main/java/com/mument_android/domain/usecase/mypage/DeleteBlockUserUseCase.kt
  domain/src/main/java/com/mument_android/domain/usecase/mypage/DeleteBlockUserUseCaseImpl.kt
  domain/src/main/java/com/mument_android/domain/usecase/mypage/FetchBlockUserUseCase.kt
  domain/src/main/java/com/mument_android/domain/usecase/mypage/FetchBlockUserUseCaseImpl.kt
  domain/src/main/java/com/mument_android/domain/usecase/mypage/FetchNoticeDetailUseCase.kt
  domain/src/main/java/com/mument_android/domain/usecase/mypage/FetchNoticeDetailUseCaseImpl.kt
  domain/src/main/java/com/mument_android/domain/usecase/mypage/FetchNoticeListUseCase.kt
  domain/src/main/java/com/mument_android/domain/usecase/mypage/FetchNoticeListUseCaseImpl.kt
  feature/mypage/src/main/java/com/mument_android/mypage/MyPageActivity.kt
  feature/mypage/src/main/java/com/mument_android/mypage/MyPageViewModel.kt
  feature/mypage/src/main/java/com/mument_android/mypage/NoticeDetailActivity.kt
  feature/mypage/src/main/java/com/mument_android/mypage/adapters/BlockUserManagementAdapter.kt
  feature/mypage/src/main/java/com/mument_android/mypage/adapters/NoticeAdapter.kt
  feature/mypage/src/main/java/com/mument_android/mypage/data/UserData.kt
  feature/mypage/src/main/java/com/mument_android/mypage/fragment/BlockUserManagementFragment.kt
  feature/mypage/src/main/java/com/mument_android/mypage/fragment/NoticeFragment.kt
  feature/mypage/src/main/res/layout/activity_notice_detail.xml
Labels: 🛠FEAT, 🎹진실🎹

#172 Feat/168 nickname duplication check
  .idea/misc.xml
  app/src/main/java/com/mument_android/app/di/AppModule.kt
  app/src/main/java/com/mument_android/app/di/ControllerModule.kt
  app/src/main/java/com/mument_android/app/di/DataSourceModule.kt
  app/src/main/java/com/mument_android/app/di/MapperModule.kt
  app/src/main/java/com/mument_android/app/di/NetworkModule.kt
  app/src/main/java/com/mument_android/app/di/RepositoryModule.kt
  app/src/main/java/com/mument_android/app/di/UseCaseModule.kt
  data/src/main/java/com/mument_android/data/datasource/sign/SignDataSource.kt
  data/src/main/java/com/mument_android/data/datasource/sign/SignDataSourceImpl.kt
  data/src/main/java/com/mument_android/data/mapper/sign/SignMapper.kt
  data/src/main/java/com/mument_android/data/network/sign/SignApiService.kt
  data/src/main/java/com/mument_android/data/network/sign/SignNetwork.kt
  data/src/main/java/com/mument_android/data/repository/SignRepositoryImpl.kt
  data/src/main/java/com/mument_android/data/util/BaseResponse.kt
  domain/src/main/java/com/mument_android/domain/repository/sign/SignRepository.kt
  domain/src/main/java/com/mument_android/domain/usecase/sign/SignDulCheckUseCase.kt
  domain/src/main/java/com/mument_android/domain/usecase/sign/SignDulCheckUseCaseImpl.kt
  domain/src/main/java/com/mument_android/domain/usecase/sign/SignTestUseCase.kt
  feature/login/build.gradle.kts
  feature/login/src/main/java/com/mument_android/login/LogInActivity.kt
  feature/login/src/main/java/com/mument_android/login/LogInViewModel.kt
  feature/login/src/main/java/com/mument_android/login/ProfileSettingActivity.kt
  feature/login/src/main/java/com/mument_android/login/util/CustomSnackBar.kt
  feature/login/src/main/res/drawable-hdpi/rectangle_fill_red_10dp.xml
  feature/login/src/main/res/layout/activity_profile_setting.xml
  feature/login/src/main/res/layout/custom_snackbar.xml
  feature/login/src/main/res/values/colors.xml
Labels: 🛠FEAT, 📯혜빈📯

#174 Feat/173 put profile
  app/src/main/java/com/mument_android/app/di/MapperModule.kt
  app/src/main/java/com/mument_android/app/di/NavigatorModule.kt
  app/src/main/java/com/mument_android/app/di/RepositoryModule.kt
  app/src/main/java/com/mument_android/app/di/UseCaseModule.kt
  app/src/main/java/com/mument_android/app/presentation/ui/detail/mument/navigator/MainHomeNavigatorProviderImpl.kt
  data/src/main/java/com/mument_android/data/datasource/sign/SignDataSource.kt
  data/src/main/java/com/mument_android/data/datasource/sign/SignDataSourceImpl.kt
  data/src/main/java/com/mument_android/data/dto/sign/RequestSetProfileDto.kt
  data/src/main/java/com/mument_android/data/dto/sign/SetProfileDto.kt
  data/src/main/java/com/mument_android/data/mapper/sign/RequestSetProfileMapper.kt
  data/src/main/java/com/mument_android/data/mapper/sign/SetProfileMapper.kt
  data/src/main/java/com/mument_android/data/network/sign/SignApiService.kt
  data/src/main/java/com/mument_android/data/repository/SignRepositoryImpl.kt
  domain/build.gradle.kts
  domain/src/main/java/com/mument_android/domain/entity/sign/SetProfileData.kt
  domain/src/main/java/com/mument_android/domain/entity/sign/SetProfileEntity.kt
  domain/src/main/java/com/mument_android/domain/repository/sign/SignRepository.kt
  domain/src/main/java/com/mument_android/domain/usecase/sign/SignDulCheckUseCaseImpl.kt
  domain/src/main/java/com/mument_android/domain/usecase/sign/SignPutProfileUseCase.kt
  domain/src/main/java/com/mument_android/domain/usecase/sign/SignPutProfileUseCaseImpl.kt
  feature/login/src/main/java/com/mument_android/login/LogInActivity.kt
  feature/login/src/main/java/com/mument_android/login/LogInViewModel.kt
  feature/login/src/main/java/com/mument_android/login/ProfileSettingActivity.kt
  feature/login/src/main/java/com/mument_android/login/util/MultipartResolver.kt
  navigation/src/main/java/com/angdroid/navigation/MainHomeNavigatorProvider.kt
Labels: 🛠FEAT, 📯혜빈📯

#184 Feat/183 web view link
  .idea/misc.xml
  app/src/main/java/com/mument_android/app/di/MapperModule.kt
  app/src/main/java/com/mument_android/app/di/RepositoryModule.kt
  app/src/main/java/com/mument_android/app/di/UseCaseModule.kt
  data/src/main/java/com/mument_android/data/datasource/sign/SignDataSource.kt
  data/src/main/java/com/mument_android/data/datasource/sign/SignDataSourceImpl.kt
  data/src/main/java/com/mument_android/data/dto/sign/RequestSetProfileDto.kt
  data/src/main/java/com/mument_android/data/dto/sign/SetProfileDto.kt
  data/src/main/java/com/mument_android/data/dto/sign/WebViewDto.kt
  data/src/main/java/com/mument_android/data/mapper/sign/GetWebViewMapper.kt
  data/src/main/java/com/mument_android/data/mapper/sign/RequestSetProfileMapper.kt
  data/src/main/java/com/mument_android/data/mapper/sign/SetProfileMapper.kt
  data/src/main/java/com/mument_android/data/network/sign/SignApiService.kt
  data/src/main/java/com/mument_android/data/repository/SignRepositoryImpl.kt
  domain/src/main/java/com/mument_android/domain/entity/sign/SetProfileData.kt
  domain/src/main/java/com/mument_android/domain/entity/sign/SetProfileEntity.kt
  domain/src/main/java/com/mument_android/domain/entity/sign/WebViewEntity.kt
  domain/src/main/java/com/mument_android/domain/repository/sign/SignRepository.kt
  domain/src/main/java/com/mument_android/domain/usecase/sign/GetWebViewUseCase.kt
  domain/src/main/java/com/mument_android/domain/usecase/sign/GetWebViewUseCaseImpl.kt
  domain/src/main/java/com/mument_android/domain/usecase/sign/SignDulCheckUseCase.kt
  domain/src/main/java/com/mument_android/domain/usecase/sign/SignDulCheckUseCaseImpl.kt
  feature/login/src/main/AndroidManifest.xml
  feature/login/src/main/java/com/mument_android/login/LogInActivity.kt
  feature/login/src/main/java/com/mument_android/login/LogInViewModel.kt
  feature/mypage/src/main/java/com/mument_android/mypage/MyPageActivity.kt
  feature/mypage/src/main/java/com/mument_android/mypage/MyPageViewModel.kt
Labels: 🛠FEAT, 📯혜빈📯

#186 Feat/185 check user profile
  app/src/main/java/com/mument_android/app/di/DataSourceModule.kt
  app/src/main/java/com/mument_android/app/di/MapperModule.kt
  app/src/main/java/com/mument_android/app/di/RepositoryModule.kt
  app/src/main/java/com/mument_android/app/di/UseCaseModule.kt
  data/src/main/java/com/mument_android/data/datasource/mypage/UserInfoDataSource.kt
  data/src/main/java/com/mument_android/data/datasource/mypage/UserInfoDataSourceImpl.kt
  data/src/main/java/com/mument_android/data/dto/mypage/UserInfoDto.kt
  data/src/main/java/com/mument_android/data/local/todaymument/TodayMumentEntity.kt
  data/src/main/java/com/mument_android/data/mapper/mypage/UserInfoMapper.kt
  data/src/main/java/com/mument_android/data/network/mypage/MyPageApiService.kt
  data/src/main/java/com/mument_android/data/repository/mypage/UserInfoRepositoryImpl.kt
  domain/src/main/java/com/mument_android/domain/entity/home/TodayMument.kt
  domain/src/main/java/com/mument_android/domain/entity/mypage/UserInfoEntity.kt
  domain/src/main/java/com/mument_android/domain/repository/mypage/UserInfoRepository.kt
  domain/src/main/java/com/mument_android/domain/usecase/mypage/UserInfoUseCase.kt
  domain/src/main/java/com/mument_android/domain/usecase/mypage/UserInfoUseCaseImpl.kt
  feature/mypage/src/main/java/com/mument_android/mypage/MyPageActivity.kt
  feature/mypage/src/main/java/com/mument_android/mypage/MyPageViewModel.kt
  feature/mypage/src/main/java/com/mument_android/mypage/util/BindingAdapter.kt
  feature/mypage/src/main/res/layout/activity_my_page.xml
Labels: 🛠FEAT, 📯혜빈📯

#187 Feat/166 kakao login
  .idea/misc.xml
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mument_android/app/di/DataSourceModule.kt
  app/src/main/java/com/mument_android/app/di/MapperModule.kt
  app/src/main/java/com/mument_android/app/di/NetworkModule.kt
  app/src/main/java/com/mument_android/app/di/RepositoryModule.kt
  app/src/main/java/com/mument_android/app/di/UseCaseModule.kt
  app/src/main/java/com/mument_android/app/presentation/ui/main/MainActivity.kt
  app/src/main/java/com/mument_android/app/presentation/ui/main/viewmodel/MainViewModel.kt
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/Versions.kt
  core_dependent/src/main/java/com/mument_android/core_dependent/network/AuthInterceptor.kt
  data/src/main/java/com/mument_android/data/datasource/sign/SignDataSource.kt
  data/src/main/java/com/mument_android/data/datasource/sign/SignDataSourceImpl.kt
  data/src/main/java/com/mument_android/data/dto/sign/KakaoDto.kt
  data/src/main/java/com/mument_android/data/dto/sign/NewTokenDto.kt
  data/src/main/java/com/mument_android/data/dto/sign/RequestKakaoDto.kt
  data/src/main/java/com/mument_android/data/local/todaymument/TodayMumentEntity.kt
  data/src/main/java/com/mument_android/data/mapper/sign/KakaoLoginMapper.kt
  data/src/main/java/com/mument_android/data/mapper/sign/NewTokenMapper.kt
  data/src/main/java/com/mument_android/data/mapper/sign/RequestKakaoLoginMapper.kt
  data/src/main/java/com/mument_android/data/network/sign/SignApiService.kt
  data/src/main/java/com/mument_android/data/repository/SignRepositoryImpl.kt
  domain/src/main/java/com/mument_android/domain/entity/home/TodayMument.kt
  domain/src/main/java/com/mument_android/domain/entity/sign/KakaoEntity.kt
  domain/src/main/java/com/mument_android/domain/entity/sign/NewTokenEntity.kt
  domain/src/main/java/com/mument_android/domain/entity/sign/RequestKakaoData.kt
  domain/src/main/java/com/mument_android/domain/repository/sign/SignRepository.kt
  domain/src/main/java/com/mument_android/domain/usecase/sign/NewTokenUseCase.kt
  domain/src/main/java/com/mument_android/domain/usecase/sign/NewTokenUseCaseImpl.kt
  domain/src/main/java/com/mument_android/domain/usecase/sign/SignKaKaoUseCase.kt
  domain/src/main/java/com/mument_android/domain/usecase/sign/SignKaKaoUseCaseImpl.kt
  feature/locker/src/main/java/com/mument_android/locker/viewmodels/LockerViewModel.kt
  feature/login/build.gradle.kts
  feature/login/src/main/AndroidManifest.xml
  feature/login/src/main/java/com/mument_android/ApplicationClass.kt
  feature/login/src/main/java/com/mument_android/SplashActivity.kt
  feature/login/src/main/java/com/mument_android/login/LogInActivity.kt
  feature/login/src/main/java/com/mument_android/login/LogInViewModel.kt
  feature/login/src/main/java/com/mument_android/login/ProfileSettingActivity.kt
  feature/mypage/src/main/java/com/mument_android/mypage/data/UserData.kt
  settings.gradle.kts
Labels: 🛠FEAT, 📯혜빈📯

#192 Feature/180 all api insert
  .idea/misc.xml
  app/src/main/java/com/mument_android/app/di/UseCaseModule.kt
  app/src/main/java/com/mument_android/app/presentation/ui/main/viewmodel/MainViewModel.kt
  data/src/main/java/com/mument_android/data/datasource/home/HomeDataSource.kt
  data/src/main/java/com/mument_android/data/datasource/home/HomeDataSourceImpl.kt
  data/src/main/java/com/mument_android/data/datasource/notify/NotifyDataSource.kt
  data/src/main/java/com/mument_android/data/datasource/notify/NotifyDataSourceImpl.kt
  data/src/main/java/com/mument_android/data/dto/home/Exist.kt
  data/src/main/java/com/mument_android/data/dto/home/NotifyCheckDto.kt
  data/src/main/java/com/mument_android/data/dto/home/RecentSearchDataDto.kt
  data/src/main/java/com/mument_android/data/dto/home/RequestReadNotify.kt
  data/src/main/java/com/mument_android/data/network/home/HomeService.kt
  data/src/main/java/com/mument_android/data/network/home/NotifyService.kt
  data/src/main/java/com/mument_android/data/repository/HomeRepositoryImpl.kt
  data/src/main/java/com/mument_android/data/repository/NotifyRepositoryImpl.kt
  domain/src/main/java/com/mument_android/domain/repository/home/HomeRepository.kt
  domain/src/main/java/com/mument_android/domain/usecase/home/BeforeWhenHomeEnterUseCase.kt
  domain/src/main/java/com/mument_android/domain/usecase/home/BeforeWhenHomeEnterUseCaseImpl.kt
  domain/src/main/java/com/mument_android/domain/usecase/home/WhenHomeEnterUseCase.kt
  domain/src/main/java/com/mument_android/domain/usecase/home/WhenHomeEnterUseCaseImpl.kt
  feature/home/src/main/java/com/mument_android/home/adapters/SearchHeaderAdapter.kt
  feature/home/src/main/java/com/mument_android/home/adapters/SearchListAdapter.kt
  feature/home/src/main/java/com/mument_android/home/main/HomeContract.kt
  feature/home/src/main/java/com/mument_android/home/main/HomeFragment.kt
  feature/home/src/main/java/com/mument_android/home/notify/NotifyActivity.kt
  feature/home/src/main/java/com/mument_android/home/notify/NotifyContract.kt
  feature/home/src/main/java/com/mument_android/home/search/SearchActivity.kt
  feature/home/src/main/java/com/mument_android/home/viewmodels/HomeViewModel.kt
  feature/home/src/main/java/com/mument_android/home/viewmodels/NotifyViewModel.kt
  feature/home/src/main/java/com/mument_android/home/viewmodels/SearchViewModel.kt
  feature/home/src/main/res/drawable-hdpi/ic_noti_off.webp
  feature/home/src/main/res/drawable-mdpi/ic_noti_off.webp
  feature/home/src/main/res/drawable-xhdpi/ic_noti_off.webp
  feature/home/src/main/res/drawable-xxhdpi/ic_noti_off.webp
  feature/home/src/main/res/drawable-xxxhdpi/ic_noti_off.webp
  feature/home/src/main/res/drawable/ic_noti_off.xml
  feature/home/src/main/res/drawable/ic_noti_on.xml
  feature/home/src/main/res/layout/fragment_home.xml
  feature/home/src/main/res/layout/item_search_header.xml
  feature/home/src/main/res/layout/share_search_layout.xml
  feature/home/src/main/res/values/dimens.xml
  feature/login/src/main/res/values/colors.xml
  feature/record/src/main/java/com/mument_android/record/BottomSearchHeaderAdapter.kt
  feature/record/src/main/java/com/mument_android/record/BottomSheetSearchFragment.kt
  feature/record/src/main/java/com/mument_android/record/SearchListAdapter.kt
  feature/record/src/main/java/com/mument_android/record/viewmodels/SearchViewModel.kt
  feature/record/src/main/res/layout/bottomsheet_fragment_search.xml
  feature/record/src/main/res/layout/item_bottom_search_header.xml
  feature/record/src/main/res/values/dimens.xml
  feature/record/src/main/res/values/strings.xml
Labels: 🛠FEAT, 🪕민호🪕

#197 Feat/188 auto login logic
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  data/src/main/java/com/mument_android/data/datasource/home/HomeDataSourceImpl.kt
  feature/locker/src/main/java/com/mument_android/locker/LockerFragment.kt
  feature/locker/src/main/java/com/mument_android/locker/MyLikeFragment.kt
  feature/locker/src/main/java/com/mument_android/locker/MyMumentFragment.kt
  feature/locker/src/main/java/com/mument_android/locker/viewmodels/LockerViewModel.kt
  feature/locker/src/main/res/layout/fragment_locker.xml
  feature/locker/src/main/res/layout/fragment_my_like.xml
  feature/locker/src/main/res/layout/fragment_my_mument.xml
  feature/locker/src/main/res/values/theme.xml
  feature/login/build.gradle.kts
  feature/login/src/main/AndroidManifest.xml
  feature/login/src/main/java/com/mument_android/SplashActivity.kt
  feature/login/src/main/java/com/mument_android/login/LogInViewModel.kt
  feature/login/src/main/java/com/mument_android/login/ProfileSettingActivity.kt
  feature/login/src/main/java/com/mument_android/login/util/MultipartResolver.kt
  feature/login/src/main/res/drawable-hdpi/mument_profile_camera.png
  feature/login/src/main/res/drawable-hdpi/mument_profile_sleep_45.png
  feature/login/src/main/res/drawable-hdpi/mument_profile_smile_45.png
  feature/login/src/main/res/drawable-mdpi/mument_profile_camera.png
  feature/login/src/main/res/drawable-mdpi/mument_profile_sleep_45.png
  feature/login/src/main/res/drawable-mdpi/mument_profile_smile_45.png
  feature/login/src/main/res/drawable-xhdpi/mument_profile_camera.png
  feature/login/src/main/res/drawable-xhdpi/mument_profile_sleep_45.png
  feature/login/src/main/res/drawable-xhdpi/mument_profile_smile_45.png
  feature/login/src/main/res/drawable-xxhdpi/mument_profile_camera.png
  feature/login/src/main/res/drawable-xxhdpi/mument_profile_sleep_45.png
  feature/login/src/main/res/drawable-xxhdpi/mument_profile_smile_45.png
  feature/login/src/main/res/drawable-xxxhdpi/mument_profile_camera.png
  feature/login/src/main/res/drawable-xxxhdpi/mument_profile_sleep_45.png
  feature/login/src/main/res/drawable-xxxhdpi/mument_profile_smile_45.png
  feature/login/src/main/res/layout/activity_profile_setting.xml
  feature/mypage/src/main/java/com/mument_android/mypage/util/BindingAdapter.kt
Labels: 🛠FEAT, 📯혜빈📯

#199 Feat/198 add warn
  .idea/misc.xml
  app/src/main/java/com/mument_android/app/di/DataSourceModule.kt
  app/src/main/java/com/mument_android/app/di/MapperModule.kt
  app/src/main/java/com/mument_android/app/di/NavigatorModule.kt
  app/src/main/java/com/mument_android/app/di/RepositoryModule.kt
  app/src/main/java/com/mument_android/app/di/UseCaseModule.kt
  app/src/main/java/com/mument_android/app/presentation/ui/detail/mument/navigator/DeclareNavigatorProviderImpl.kt
  data/src/main/java/com/mument_android/data/datasource/detail/ReportMumentDataSource.kt
  data/src/main/java/com/mument_android/data/datasource/detail/ReportMumentDataSourceImpl.kt
  data/src/main/java/com/mument_android/data/dto/detail/RequestReportDto.kt
  data/src/main/java/com/mument_android/data/mapper/detail/ReportMumentMapper.kt
  data/src/main/java/com/mument_android/data/network/detail/DetailApiService.kt
  data/src/main/java/com/mument_android/data/repository/MumentDetailRepositoryImpl.kt
  domain/src/main/java/com/mument_android/domain/entity/detail/ReportRequest.kt
  domain/src/main/java/com/mument_android/domain/repository/detail/MumentDetailRepository.kt
  domain/src/main/java/com/mument_android/domain/usecase/detail/ReportMumentUseCase.kt
  domain/src/main/java/com/mument_android/domain/usecase/detail/ReportMumentUseCaseImpl.kt
  feature/detail/src/main/AndroidManifest.xml
  feature/detail/src/main/java/com/mument_android/detail/mument/activity/DeclarMumentActivity.kt
  feature/detail/src/main/java/com/mument_android/detail/mument/contract/MumentDetailContract.kt
  feature/detail/src/main/java/com/mument_android/detail/mument/fragment/MumentDetailFragment.kt
  feature/detail/src/main/java/com/mument_android/detail/mument/viewmodel/MumentDetailViewModel.kt
  feature/detail/src/main/java/com/mument_android/detail/mument/viewmodel/MumentReportViewModel.kt
  feature/detail/src/main/java/com/mument_android/detail/report/SelectReportTypeDialogFragment.kt
  feature/detail/src/main/res/layout/activity_declar_mument.xml
  navigation/src/main/java/com/angdroid/navigation/DeclareNavigatorProvider.kt
Labels: 🛠FEAT, 📯혜빈📯

#204 Feat/200 etc issue clear
  .idea/misc.xml
  app/src/main/java/com/mument_android/app/presentation/ui/detail/mument/navigator/MainHomeNavigatorProviderImpl.kt
  app/src/main/java/com/mument_android/app/presentation/ui/detail/mument/navigator/MypageNavigatorProviderImpl.kt
  domain/src/main/java/com/mument_android/domain/entity/mypage/UserInfoEntity.kt
  feature/login/src/main/java/com/mument_android/login/LogInViewModel.kt
  feature/login/src/main/java/com/mument_android/login/ProfileSettingActivity.kt
  feature/login/src/main/java/com/mument_android/login/util/MultipartResolver.kt
  feature/mypage/src/main/java/com/mument_android/mypage/MyPageActivity.kt
  feature/mypage/src/main/java/com/mument_android/mypage/MyPageViewModel.kt
  feature/mypage/src/main/java/com/mument_android/mypage/fragment/UnregisterFragment.kt
  feature/mypage/src/main/res/layout/fragment_block_user_management.xml
  feature/mypage/src/main/res/layout/item_notice.xml
  feature/mypage/src/main/res/values/strings.xml
  feature/record/src/main/res/layout/activity_record.xml
Labels: 🛠FEAT, 🎹진실🎹

#207 Feat/205 check before qa
  feature/detail/src/main/res/layout/fragment_mument_detail.xml
  feature/detail/src/main/res/layout/fragment_music_detail.xml
  feature/home/src/main/res/drawable-hdpi/mument_logo_home.png
  feature/home/src/main/res/drawable-mdpi/mument_logo_home.png
  feature/home/src/main/res/drawable-xhdpi/mument_logo_home.png
  feature/home/src/main/res/drawable-xxhdpi/mument_logo_home.png
  feature/home/src/main/res/drawable-xxxhdpi/mument_logo_home.png
  feature/home/src/main/res/layout/activity_notify.xml
  feature/home/src/main/res/layout/fragment_home.xml
  feature/locker/src/main/res/layout/fragment_my_like.xml
  feature/locker/src/main/res/layout/fragment_my_mument.xml
  feature/login/src/main/java/com/mument_android/login/ProfileSettingActivity.kt
  feature/login/src/main/res/layout/activity_profile_setting.xml
  feature/mypage/src/main/res/layout/activity_my_page.xml
  feature/mypage/src/main/res/layout/activity_notice_detail.xml
  feature/mypage/src/main/res/layout/fragment_block_user_management.xml
  feature/record/src/main/java/com/mument_android/record/RecordActivity.kt
  feature/record/src/main/java/com/mument_android/record/viewmodels/RecordViewModel.kt
  feature/record/src/main/res/layout/activity_record.xml
Labels: 🛠FEAT, 🎹진실🎹

#209 Feat/206 modify view
  .idea/misc.xml
  app/src/main/java/com/mument_android/app/Notification.kt
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
  feature/home/src/main/res/drawable-hdpi/mument_logo.png
  feature/home/src/main/res/drawable-mdpi/mument_logo.png
  feature/home/src/main/res/drawable-xhdpi/mument_logo.png
  feature/home/src/main/res/drawable-xxhdpi/mument_logo.png
  feature/home/src/main/res/drawable-xxxhdpi/mument_logo.png
  feature/home/src/main/res/layout/fragment_home.xml
  feature/locker/src/main/java/com/mument_android/locker/MyLikeFragment.kt
  feature/locker/src/main/java/com/mument_android/locker/MyMumentFragment.kt
  feature/locker/src/main/res/layout/item_locker_card.xml
  feature/locker/src/main/res/layout/item_locker_date.xml
  feature/locker/src/main/res/layout/item_mument_image.xml
  feature/login/src/main/java/com/mument_android/login/LogInActivity.kt
  feature/login/src/main/java/com/mument_android/login/ProfileSettingActivity.kt
  feature/login/src/main/res/layout/activity_log_in.xml
  feature/login/src/main/res/layout/activity_profile_setting.xml
  feature/login/src/main/res/values/colors.xml
Labels: 🛠FEAT, 📯혜빈📯

#214 Chore/213 qa home push fix
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mument_android/app/FCMMessagingService.kt
  app/src/main/java/com/mument_android/app/Notification.kt
  app/src/main/java/com/mument_android/app/presentation/ui/detail/mument/navigator/MumentDetailNavigatorProviderImpl.kt
  app/src/main/java/com/mument_android/app/presentation/ui/main/MainActivity.kt
  app/src/main/res/layout/activity_main.xml
  feature/detail/src/main/java/com/mument_android/detail/history/HistoryListAdapter.kt
  feature/detail/src/main/java/com/mument_android/detail/music/MusicDetailFragment.kt
  feature/detail/src/main/java/com/mument_android/detail/music/MusicDetailMumentListAdapter.kt
  feature/detail/src/main/res/layout/fragment_mument_detail.xml
  feature/detail/src/main/res/layout/item_mument_layout.xml
  feature/home/src/main/java/com/mument_android/home/main/HomeFragment.kt
  feature/home/src/main/java/com/mument_android/home/notify/NotifyActivity.kt
  feature/home/src/main/java/com/mument_android/home/viewmodels/HomeViewModel.kt
  feature/home/src/main/res/layout/activity_notify.xml
  feature/home/src/main/res/layout/item_heard_mument_layout.xml
  feature/home/src/main/res/layout/item_impressive_emotion_mument_layout.xml
  feature/home/src/main/res/layout/mument_layout_cardview.xml
  feature/home/src/main/res/values/strings.xml
  feature/home/src/main/res/values/themes.xml
  feature/locker/src/main/java/com/mument_android/locker/adapters/LockerMumentLinearAdapter.kt
  feature/record/src/main/java/com/mument_android/record/viewmodels/RecordViewModel.kt
  navigation/src/main/java/com/angdroid/navigation/MumentDetailNavigatorProvider.kt
Labels: 🔎CHORE, 🪕민호🪕

#218 Feat/212 relfect qa
  .idea/compiler.xml
  .idea/misc.xml
  feature/detail/src/main/res/font/notosans_medium.ttf
  feature/detail/src/main/res/layout/activity_declar_mument.xml
  feature/home/src/main/res/font/notosans_medium.ttf
  feature/locker/src/main/java/com/mument_android/locker/LockerFragment.kt
  feature/locker/src/main/res/font/notosans_medium.ttf
  feature/locker/src/main/res/layout/fragment_locker.xml
  feature/locker/src/main/res/layout/fragment_locker_like_filter_bottom_sheet.xml
  feature/locker/src/main/res/layout/fragment_my_like.xml
  feature/locker/src/main/res/layout/fragment_my_mument.xml
  feature/locker/src/main/res/values/theme.xml
  feature/login/src/main/java/com/mument_android/login/LogInActivity.kt
  feature/login/src/main/java/com/mument_android/login/ProfileSettingActivity.kt
  feature/login/src/main/res/drawable/circle_black_layer_70.png
  feature/login/src/main/res/font/notosans_medium.ttf
  feature/login/src/main/res/layout/activity_log_in.xml
  feature/login/src/main/res/layout/activity_profile_setting.xml
  feature/login/src/main/res/layout/activity_splash.xml
  feature/login/src/main/res/layout/fragment_on_boarding_first.xml
  feature/login/src/main/res/layout/fragment_on_boarding_second.xml
  feature/login/src/main/res/layout/fragment_on_boarding_third.xml
  feature/login/src/main/res/values/strings.xml
  feature/login/src/main/res/values/themes.xml
  feature/mypage/src/main/res/font/notosans_medium.ttf
  feature/record/src/main/res/font/notosans_medium.ttf
  gradle/wrapper/gradle-wrapper.properties
Labels: 🛠FEAT, 📯혜빈📯

#220 Feat/219 log out
  .idea/misc.xml
  app/src/main/java/com/mument_android/app/di/DataSourceModule.kt
  app/src/main/java/com/mument_android/app/di/RepositoryModule.kt
  app/src/main/java/com/mument_android/app/di/UseCaseModule.kt
  core_dependent/src/main/java/com/mument_android/core_dependent/ext/DataStoreManager.kt
  data/src/main/java/com/mument_android/data/datasource/mypage/LogOutDataSource.kt
  data/src/main/java/com/mument_android/data/datasource/mypage/LogOutDataSourceImpl.kt
  data/src/main/java/com/mument_android/data/mapper/mypage/UserInfoMapper.kt
  data/src/main/java/com/mument_android/data/network/mypage/MyPageApiService.kt
  data/src/main/java/com/mument_android/data/repository/mypage/LogOutRepositoryImpl.kt
  domain/src/main/java/com/mument_android/domain/entity/mypage/UserInfoEntity.kt
  domain/src/main/java/com/mument_android/domain/repository/mypage/LogOutRepository.kt
  domain/src/main/java/com/mument_android/domain/usecase/mypage/LogOutUseCase.kt
  domain/src/main/java/com/mument_android/domain/usecase/mypage/LogOutUseCaseImpl.kt
  feature/detail/src/main/java/com/mument_android/detail/mument/activity/DeclarMumentActivity.kt
  feature/login/src/main/java/com/mument_android/login/LogInViewModel.kt
  feature/mypage/src/main/java/com/mument_android/mypage/MyPageActivity.kt
  feature/mypage/src/main/java/com/mument_android/mypage/MyPageViewModel.kt
Labels: 🛠FEAT, 📯혜빈📯

#221 Feat/211 qa record mypage
  core_dependent/src/main/res/layout/item_mument_string_tag.xml
  core_dependent/src/main/res/values/theme.xml
  feature/detail/src/main/res/layout/activity_declar_mument.xml
  feature/detail/src/main/res/layout/fragment_mument_detail.xml
  feature/detail/src/main/res/values/dimens.xml
  feature/detail/src/main/res/values/theme.xml
  feature/home/src/main/res/layout/appbar_notify.xml
  feature/home/src/main/res/values/themes.xml
  feature/locker/src/main/res/layout/fragment_locker_filter_bottom_sheet.xml
  feature/locker/src/main/res/layout/fragment_locker_like_filter_bottom_sheet.xml
  feature/locker/src/main/res/layout/fragment_my_like.xml
  feature/locker/src/main/res/layout/fragment_my_mument.xml
  feature/locker/src/main/res/layout/item_locker_card.xml
  feature/locker/src/main/res/layout/item_mument_filter_string_tag.xml
  feature/locker/src/main/res/layout/item_mument_string_tag.xml
  feature/locker/src/main/res/values/dimens.xml
  feature/locker/src/main/res/values/theme.xml
  feature/login/src/main/res/layout/activity_profile_setting.xml
  feature/login/src/main/res/layout/custom_snackbar.xml
  feature/login/src/main/res/values/colors.xml
  feature/mypage/src/main/AndroidManifest.xml
  feature/mypage/src/main/java/com/mument_android/mypage/adapters/BlockUserManagementAdapter.kt
  feature/mypage/src/main/java/com/mument_android/mypage/fragment/UnregisterFragment.kt
  feature/mypage/src/main/java/com/mument_android/mypage/util/BindingAdapter.kt
  feature/mypage/src/main/res/drawable-hdpi/mument_profile_sad_45.webp
  feature/mypage/src/main/res/drawable-hdpi/mument_profile_sad_60_1.webp
  feature/mypage/src/main/res/drawable-mdpi/mument_profile_sad_45.webp
  feature/mypage/src/main/res/drawable-mdpi/mument_profile_sad_60_1.webp
  feature/mypage/src/main/res/drawable-xhdpi/mument_profile_sad_45.webp
  feature/mypage/src/main/res/drawable-xhdpi/mument_profile_sad_60_1.webp
  feature/mypage/src/main/res/drawable-xxhdpi/mument_profile_sad_45.webp
  feature/mypage/src/main/res/drawable-xxhdpi/mument_profile_sad_60_1.webp
  feature/mypage/src/main/res/drawable-xxxhdpi/mument_profile_sad_45.webp
  feature/mypage/src/main/res/drawable-xxxhdpi/mument_profile_sad_60_1.webp
  feature/mypage/src/main/res/drawable/rectangle_border_gray3_11dp.xml
  feature/mypage/src/main/res/drawable/rectangle_fill_gray2_11dp.xml
  feature/mypage/src/main/res/drawable/selector_unregister_finish_btn.xml
  feature/mypage/src/main/res/drawable/selector_unregister_reason.xml
  feature/mypage/src/main/res/layout/activity_my_page.xml
  feature/mypage/src/main/res/layout/activity_notice_detail.xml
  feature/mypage/src/main/res/layout/fragment_alarm_setting.xml
  feature/mypage/src/main/res/layout/fragment_block_user_management.xml
  feature/mypage/src/main/res/layout/fragment_notice.xml
  feature/mypage/src/main/res/layout/fragment_unregister.xml
  feature/mypage/src/main/res/layout/item_block_user.xml
  feature/mypage/src/main/res/values/dimens.xml
  feature/mypage/src/main/res/values/strings.xml
  feature/mypage/src/main/res/values/themes.xml
  feature/record/src/main/java/com/mument_android/record/RecordActivity.kt
  feature/record/src/main/res/layout/activity_record.xml
  feature/record/src/main/res/values/strings.xml
  feature/record/src/main/res/values/themes.xml
Labels: 🛠FEAT, 🎹진실🎹

#225 Fix/224 home search detail fix
  app/src/main/java/com/mument_android/app/Notification.kt
  app/src/main/res/layout/activity_main.xml
  core_dependent/src/main/java/com/mument_android/core_dependent/ui/MumentDialog.kt
  core_dependent/src/main/res/layout/fragment_mument_dialog.xml
  data/src/main/java/com/mument_android/data/datasource/home/LocalRecentSearchListDataSourceImpl.kt
  data/src/main/java/com/mument_android/data/dto/detail/MumentDetailDto.kt
  data/src/main/java/com/mument_android/data/local/recentlist/RecentSearchDAO.kt
  data/src/main/java/com/mument_android/data/mapper/detail/MumentDetailMapper.kt
  data/src/main/java/com/mument_android/data/repository/MumentDetailRepositoryImpl.kt
  data/src/main/java/com/mument_android/data/repository/MumentListRepositoryImpl.kt
  domain/src/main/java/com/mument_android/domain/entity/detail/MumentSummaryEntity.kt
  domain/src/main/java/com/mument_android/domain/util/ApiStatusExtensions.kt
  feature/detail/src/main/java/com/mument_android/detail/mument/contract/MumentDetailContract.kt
  feature/detail/src/main/java/com/mument_android/detail/mument/fragment/MumentDetailFragment.kt
  feature/detail/src/main/java/com/mument_android/detail/mument/viewmodel/MumentDetailViewModel.kt
  feature/detail/src/main/java/com/mument_android/detail/music/MusicDetailFragment.kt
  feature/detail/src/main/java/com/mument_android/detail/music/MusicDetailViewModel.kt
  feature/detail/src/main/res/layout/item_music_detail_list.xml
  feature/detail/src/main/res/layout/item_music_detail_mument.xml
  feature/home/src/main/java/com/mument_android/home/notify/NotifyActivity.kt
  feature/home/src/main/java/com/mument_android/home/search/SearchActivity.kt
  feature/record/src/main/java/com/mument_android/record/viewmodels/SearchViewModel.kt
  feature/record/src/main/res/layout/activity_record.xml
Labels: 🐞FIX, 🪕민호🪕

#226 Feat/223 second qa
  feature/detail/src/main/java/com/mument_android/detail/mument/activity/DeclarMumentActivity.kt
  feature/detail/src/main/res/layout/activity_declar_mument.xml
  feature/detail/src/main/res/layout/activity_history.xml
  feature/login/src/main/res/layout/activity_profile_setting.xml
  feature/mypage/src/main/res/layout/activity_my_page.xml
  feature/mypage/src/main/res/layout/fragment_alarm_setting.xml
  feature/mypage/src/main/res/layout/fragment_block_user_management.xml
  feature/mypage/src/main/res/layout/fragment_unregister.xml
  feature/mypage/src/main/res/values/strings.xml
  feature/record/src/main/java/com/mument_android/record/RecordActivity.kt
  feature/record/src/main/res/layout/activity_record.xml
Labels: 🛠FEAT, 🎹진실🎹

#230 Feat/227 reflect qa
  data/src/main/java/com/mument_android/data/dto/sign/WebViewDto.kt
  data/src/main/java/com/mument_android/data/mapper/sign/GetWebViewMapper.kt
  domain/src/main/java/com/mument_android/domain/entity/sign/WebViewEntity.kt
  feature/detail/src/main/java/com/mument_android/detail/mument/activity/DeclarMumentActivity.kt
  feature/locker/src/main/java/com/mument_android/locker/MyLikeFragment.kt
  feature/locker/src/main/java/com/mument_android/locker/filter/LockerFilterBottomSheetFragment.kt
  feature/locker/src/main/java/com/mument_android/locker/util/CustomDecoration.kt
  feature/locker/src/main/java/com/mument_android/locker/util/PixelRatio.kt
  feature/locker/src/main/res/layout/fragment_locker.xml
  feature/locker/src/main/res/layout/fragment_my_like.xml
  feature/locker/src/main/res/layout/item_mument_string_tag.xml
  feature/login/build.gradle.kts
  feature/login/src/main/java/com/mument_android/SplashActivity.kt
  feature/login/src/main/java/com/mument_android/login/LogInActivity.kt
  feature/login/src/main/java/com/mument_android/login/LogInViewModel.kt
  feature/login/src/main/java/com/mument_android/login/ProfileSettingActivity.kt
  feature/login/src/main/res/layout/activity_splash.xml
  feature/login/src/main/res/layout/fragment_on_boarding_first.xml
  feature/login/src/main/res/layout/fragment_on_boarding_second.xml
  feature/login/src/main/res/layout/fragment_on_boarding_third.xml
  feature/login/src/main/res/raw/logo_lottie.json
  feature/mypage/src/main/java/com/mument_android/mypage/MyPageActivity.kt
  feature/mypage/src/main/java/com/mument_android/mypage/MyPageViewModel.kt
  feature/mypage/src/main/java/com/mument_android/mypage/fragment/UnregisterFragment.kt
Labels: 🛠FEAT, 📯혜빈📯

#231 Fix/224 home search detail fix
  app/src/main/java/com/mument_android/app/presentation/ui/detail/mument/navigator/MoveNotifyNavigatorProviderImpl.kt
  app/src/main/java/com/mument_android/app/presentation/ui/detail/mument/navigator/MoveToAlarmFragmentProviderImpl.kt
  app/src/main/java/com/mument_android/app/presentation/ui/main/MainActivity.kt
  app/src/main/res/layout/activity_main.xml
  core_dependent/src/main/java/com/mument_android/core_dependent/base/MviViewModel.kt
  core_dependent/src/main/java/com/mument_android/core_dependent/ext/ViewExtensions.kt
  core_dependent/src/main/java/com/mument_android/core_dependent/util/Extensions.kt
  core_dependent/src/main/java/com/mument_android/core_dependent/util/MediaUtils.kt
  core_dependent/src/main/java/com/mument_android/core_dependent/util/OnSingleClickListener.kt
  core_dependent/src/main/res/raw/heart_icn_lottie.json
  domain/src/main/java/com/mument_android/domain/entity/history/MumentHistory.kt
  domain/src/main/java/com/mument_android/domain/entity/locker/LockerMumentEntity.kt
  feature/detail/build.gradle.kts
  feature/detail/src/main/java/com/mument_android/detail/history/HistoryActivity.kt
  feature/detail/src/main/java/com/mument_android/detail/history/HistoryListAdapter.kt
  feature/detail/src/main/java/com/mument_android/detail/mument/fragment/MumentDetailFragment.kt
  feature/detail/src/main/java/com/mument_android/detail/mument/fragment/MumentToShareDialogFragment.kt
  feature/detail/src/main/java/com/mument_android/detail/mument/viewmodel/MumentDetailViewModel.kt
  feature/detail/src/main/java/com/mument_android/detail/music/MusicDetailContract.kt
  feature/detail/src/main/java/com/mument_android/detail/music/MusicDetailFragment.kt
  feature/detail/src/main/java/com/mument_android/detail/music/MusicDetailMumentListAdapter.kt
  feature/detail/src/main/java/com/mument_android/detail/music/MusicDetailViewModel.kt
  feature/detail/src/main/res/layout/activity_history.xml
  feature/detail/src/main/res/layout/fragment_mument_detail.xml
  feature/detail/src/main/res/layout/fragment_mument_to_share_dialog.xml
  feature/detail/src/main/res/layout/fragment_music_detail.xml
  feature/detail/src/main/res/layout/item_mument_layout.xml
  feature/detail/src/main/res/layout/item_music_detail_list.xml
  feature/detail/src/main/res/layout/item_music_detail_mument.xml
  feature/detail/src/main/res/values/theme.xml
  feature/home/src/main/java/com/mument_android/home/main/HomeFragment.kt
  feature/home/src/main/java/com/mument_android/home/notify/NotifyActivity.kt
  feature/home/src/main/res/layout/item_heard_mument_layout.xml
  feature/home/src/main/res/layout/item_impressive_emotion_mument_layout.xml
  feature/home/src/main/res/layout/share_search_layout.xml
  feature/home/src/main/res/values/dimens.xml
  feature/locker/build.gradle.kts
  feature/locker/src/main/java/com/mument_android/locker/MyLikeFragment.kt
  feature/locker/src/main/java/com/mument_android/locker/MyMumentFragment.kt
  feature/locker/src/main/java/com/mument_android/locker/adapters/LockerMumentLinearAdapter.kt
  feature/locker/src/main/java/com/mument_android/locker/adapters/LockerTimeAdapter.kt
  feature/locker/src/main/java/com/mument_android/locker/viewmodels/LockerViewModel.kt
  feature/locker/src/main/res/layout/item_locker_card.xml
  feature/locker/src/main/res/layout/item_locker_date.xml
  feature/locker/src/main/res/values/strings.xml
  feature/mypage/src/main/java/com/mument_android/mypage/fragment/AlarmSettingFragment.kt
  feature/record/src/main/res/layout/bottomsheet_fragment_search.xml
  feature/record/src/main/res/values/strings.xml
  navigation/src/main/java/com/angdroid/navigation/MoveToAlarmFragmentProvider.kt
Labels: 🔎CHORE, 🪕민호🪕

#237 Feat/229 new qa
  app/src/main/java/com/mument_android/app/presentation/ui/main/MainActivity.kt
  app/src/main/res/layout/activity_main.xml
  feature/detail/src/main/res/layout/fragment_mument_detail.xml
  feature/detail/src/main/res/layout/fragment_music_detail.xml
  feature/login/src/main/res/layout/activity_profile_setting.xml
  feature/mypage/src/main/res/layout/fragment_unregister.xml
  feature/record/src/main/java/com/mument_android/record/RecordActivity.kt
  feature/record/src/main/res/layout/activity_record.xml
Labels: 🛠FEAT, 🎹진실🎹

#238 Feat/234 reflect qa
  app/src/main/java/com/mument_android/app/di/NavigatorModule.kt
  app/src/main/java/com/mument_android/app/presentation/ui/detail/mument/navigator/QuitMainNavigatorProviderImpl.kt
  app/src/main/java/com/mument_android/app/presentation/ui/main/MainActivity.kt
  core_dependent/src/main/java/com/mument_android/core_dependent/ui/MumentTagCheckBox.kt
  feature/detail/src/main/java/com/mument_android/detail/mument/activity/DeclarMumentActivity.kt
  feature/locker/src/main/java/com/mument_android/locker/MyLikeFragment.kt
  feature/locker/src/main/java/com/mument_android/locker/util/CustomDecoration.kt
  feature/locker/src/main/res/layout/fragment_my_like.xml
  feature/locker/src/main/res/layout/fragment_my_mument.xml
  feature/locker/src/main/res/layout/item_locker_card.xml
  feature/locker/src/main/res/layout/item_locker_date.xml
  feature/locker/src/main/res/layout/item_mument_image.xml
  feature/locker/src/main/res/layout/item_mument_string_tag.xml
  feature/login/src/main/java/com/mument_android/login/LogInActivity.kt
  feature/login/src/main/java/com/mument_android/login/LogInViewModel.kt
  feature/login/src/main/res/layout/activity_log_in.xml
  feature/mypage/build.gradle.kts
  feature/mypage/src/main/java/com/mument_android/mypage/MyPageActivity.kt
  feature/mypage/src/main/java/com/mument_android/mypage/fragment/UnregisterFragment.kt
  feature/mypage/src/main/res/values/strings.xml
  navigation/src/main/java/com/angdroid/navigation/QuitMainNavigatorProvider.kt
Labels: 🛠FEAT, 📯혜빈📯

#240 Fix/239 navi error
  app/src/main/java/com/mument_android/app/presentation/ui/detail/mument/navigator/MoveNotifyNavigatorProviderImpl.kt
  app/src/main/java/com/mument_android/app/presentation/ui/detail/mument/navigator/MumentDetailNavigatorProviderImpl.kt
  app/src/main/java/com/mument_android/app/presentation/ui/detail/mument/navigator/MusicDetailNavigatorProviderImpl.kt
  app/src/main/java/com/mument_android/app/presentation/ui/main/MainActivity.kt
  core_dependent/src/main/java/com/mument_android/core_dependent/ui/ShadowConstraintLayout.kt
  feature/detail/src/main/java/com/mument_android/detail/mument/fragment/MumentDetailFragment.kt
  feature/detail/src/main/java/com/mument_android/detail/mument/viewmodel/MumentDetailViewModel.kt
  feature/detail/src/main/java/com/mument_android/detail/music/MusicDetailFragment.kt
  feature/home/src/main/java/com/mument_android/home/main/HomeFragment.kt
  feature/login/src/main/java/com/mument_android/login/LogInActivity.kt
  feature/record/src/main/java/com/mument_android/record/RecordActivity.kt
  feature/record/src/main/res/layout/activity_record.xml
Labels: 🐞FIX, 🪕민호🪕
